<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>GameList</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no"/>
	<meta name="description" content="Boardgame randomizer"/>
	<meta name="author" content="Jan Heikel">
	<meta name="keywords" content="board game, board games, games, gaming, geek, bgg, boardgamegeek">
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container text-center">
		<h1>Add a Game to your collection</h1>
		<p class="text-muted">Leave the fields you don't want to fill as their defaults (no empty fields), I can't be arsed to overload the constructor with all the possibilities.</p>
		<form class="text-left" th:object="${game}" th:action="@{savegame}" action="#" method="post"><!-- TODO: add validation and aria-stuff -->
			<div class="form-group">
				<label for="gameName">Game Name</label>
				<input type="text" class="form-control" id="gameName" th:field="*{name}" value="name"/>
				<small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</small>
				<small id="namingHelp" class="form-text text-muted">Expansion naming = nameOfParentGame: nameOfExpansion. For translated games add two letter <a href="https://www.w3schools.com/tags/ref_language_codes.asp">languagecode</a> to the end of the name.</small>
			</div>
			<div class="form-group">
				<label for="minPlayers">Minimum amount of players (0 for unknown)</label>
				<input type="number" class="form-control" id="minPlayers" th:field="*{minPlayers}" value="0"/>
				<small class="form-text text-danger" th:if="${#fields.hasErrors('minPlayers')}" th:errors="*{minPlayers}">MinPlayer Error</small>
			</div>
			<div class="form-group">
				<label for="maxPlayers">Maximum amount of players (0 for unknown)</label>
				<input type="number" class="form-control" id="maxPlayers" th:field="*{maxPlayers}" value="99"/>
				<small class="form-text text-danger" th:if="${#fields.hasErrors('maxPlayers')}" th:errors="*{maxPlayers}">maxPlayers Error</small>
			</div>
			<div class="form-group">
				<label for="playingTime">Approximate playing time in minutes (0 for unknown)</label>
				<input type="number" class="form-control" id="playingTime" th:field="*{playingTime}" value="0"/>
				<small class="form-text text-danger" th:if="${#fields.hasErrors('playingTime')}" th:errors="*{playingTime}">playingTime Error</small>
			</div>
			<div class="form-group">
				<label for="yearPublished">Year the game was published (9999 for unknown)</label>
				<input type="number" class="form-control" id="yearPublished" th:field="*{yearPublished}" value="9999"/>
				<small class="form-text text-danger" th:if="${#fields.hasErrors('yearPublished')}" th:errors="*{yearPublished}">yearPublished Error</small>
			</div>
			<div class="form-check mb-2">
				<input type="checkbox" class="form-check-input" id="isExpansion" th:field="*{isExpansion}"/>
				<label class="form-check-label" for="isExpansion" th:for="${#ids.next('isExpansion')}">This is an Expansion.</label>
			</div>
			<button type="submit" class="btn btn-primary btn-lg border border-dark mb-2 font-weight-bold">Add Game</button>
			<a href="/gamelist" class="btn btn-warning btn-lg border border-dark mb-2 font-weight-bold">Back</a>
		</form>
	</div>
</body>
</html>