<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>GameList</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no"/>
	<meta name="description" content="Boardgame randomizer"/>
	<meta name="author" content="Jan Heikel">
	<meta name="keywords" content="board game, board games, games, gaming, geek, bgg, boardgamegeek">
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Games</h1>
	<table  class="table table-striped">
		<tbody>
			<tr>
				<th>Game ID</th>
				<th>Game name</th>
				<th>Players min</th>
				<th>Players max</th>
				<th>Playing time (minutes)</th>
				<th>Year published</th>
			</tr>
			<tr th:each = "game : ${games}">
				<td th:text="${game.gameId}"></td>
				<td th:text="${game.name}"></td>
				<td th:text="${game.minPlayers}"></td>
				<td th:text="${game.maxPlayers}"></td>
				<td th:text="${game.playingTime}"></td>
				<td th:text="${game.yearPublished}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>