<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>GameList</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no"/>
	<meta name="description" content="Boardgame randomizer"/>
	<meta name="author" content="Jan Heikel">
	<meta name="keywords" content="board game, board games, games, gaming, geek, bgg, boardgamegeek">
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container text-center">
		<h1>Games</h1>
		<a href="/addgame" class="btn btn-success btn-lg border border-dark mb-2 font-weight-bold">Add a Game</a>
		<div class="table-responsive-md">
			<table  class="table table-bordered table-sm">
				<thead class="thead-dark">
					<tr class="align-middle">
						<th class="align-middle">Game ID</th>
						<th class="align-middle">Game Name</th>
						<th class="align-middle">Players min</th>
						<th class="align-middle">Players max</th>
						<th class="align-middle">Playing Time (minutes)</th>
						<th class="align-middle">Year Published</th>
						<th class="align-middle">Expansion or Main Game</th>
						<th class="align-middle">Edit Game</th>
						<th class="align-middle">Remove Game</th>
					</tr>
				</thead>
				<tbody>
					
					<tr th:each = "game : ${games}">
						<td class="align-middle" th:text="${game.gameId}"></td>
						<td class="align-middle" th:text="${game.name}"></td>
						<td class="align-middle" th:text="${game.minPlayers}"></td>
						<td class="align-middle" th:text="${game.maxPlayers}"></td>
						<td class="align-middle" th:text="${game.playingTime}"></td>
						<td class="align-middle" th:text="${game.yearPublished}"></td>
						<td class="align-middle" th:text="${game.isExpansion()} ? 'Expansion' : 'Main Game'" />
						<td class="align-middle"><a th:href="@{/editgame/{id}(id=${game.gameId})}" class="btn btn-info border border-dark font-weight-bold">Edit</a></td>
						<td class="align-middle"><a class="btn btn-danger border border-dark font-weight-bold" th:href="@{/delete/{id}(id=${game.gameId})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>