<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>GameList</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no"/>
	<meta name="description" content="Boardgame randomizer"/>
	<meta name="author" content="Jan Heikel">
	<meta name="keywords" content="board game, board games, games, gaming, geek, bgg, boardgamegeek">
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<div class="container text-center">
		<h1>Games</h1>
		<a href="/addgame" class="btn btn-success btn-lg border border-dark mb-2 font-weight-bold">Add a game</a>
		<table  class="table table-striped">
			<tbody>
				<tr>
					<th>Game ID</th>
					<th>Game name</th>
					<th>Players min</th>
					<th>Players max</th>
					<th>Playing time (minutes)</th>
					<th>Year published</th>
					<th>Expansion or Main game</th>
					<th>Edit game</th>
					<th>Remove game</th>
				</tr>
				<tr th:each = "game : ${games}">
					<td th:text="${game.gameId}"></td>
					<td th:text="${game.name}"></td>
					<td th:text="${game.minPlayers}"></td>
					<td th:text="${game.maxPlayers}"></td>
					<td th:text="${game.playingTime}"></td>
					<td th:text="${game.yearPublished}"></td>
					<td th:text="${game.isExpansion()} ? 'Expansion' : 'Main Game'" />
					<td><a th:href="@{/editgame/{id}(id=${game.gameId})}" class="btn btn-info border border-dark font-weight-bold">Edit</a></td>
					<td><a class="btn btn-danger border border-dark font-weight-bold" th:href="@{/delete/{id}(id=${game.gameId})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>